.locationSearch {
  display: flex;
  flex: 1 0 60%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  max-width: 800px;
  padding: var(--header-height) 0 0 var(--page-margin);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .locationSearch {
    padding: var(--header-height) var(--page-margin) 0;
    flex: 0 0 auto;
  }
}