.App {
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  gap: var(--space-l);
  /* overflow: hidden; */
  overflow: auto;
}