* {
  box-sizing: border-box;
}

:root {
  --color-orange: hsla(21, 69%, 43%, 1);
  --color-green: hsla(151, 38%, 44%, 1);
  --color-ink: hsla(230, 27%, 30%, 1);
  --color-reverse: hsla(54, 100%, 92%, 1);

  --border-radius-s: 5px;
  --border-radius-l: 10px;

  --page-margin: 60px;

  --space-s: 10px;
  --space-m: 15px;
  --space-l: 30px;

  --easing-default: all 0.3s ease-out;

  --header-height: 100px;
  --field-height: 80px;

  --shadow-s: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.2));
  --shadow-m: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.2));
  --shadow-l: drop-shadow(4px 4px 40px rgba(0, 0, 0, 0.2));
}

@font-face {
  font-family: 'ES Rebond Grotesque';
  src: url('../public/fonts/ESRebondGrotesque-Medium.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'ES Rebond Grotesque';
  src: url('../public/fonts/ESRebondGrotesque-Bold.woff2');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'ES Rebond Grotesque', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-green);
  color: var(--color-reverse);
  --pixels: 16;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, .heading1 {
  --pixels: 100;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: bold;
  line-height: 0.9;
  margin: 0 0 0.2em;
}

h2, .heading2 {
  --pixels: 64;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: bold;
  line-height: 0.9;
  margin: 0 0 0.2em;
}

h3, .heading3 {
  --pixels: 50;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: bold;
  line-height: 0.9;
  margin: 0 0 0.2em;
}

h4, .heading4 {
  --pixels: 38;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: bold;
  line-height: 0.9;
  margin: 0 0 0.2em;
}

h5, .heading5 {
  --pixels: 24;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: bold;
  line-height: 0.9;
  margin: 0 0 0.2em;
}

h6, .heading6 {
  --pixels: 18;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: normal;
  line-height: 0.9;
  margin: 0 0 0.2em;
}

p {
  margin: 0 0 1em;
}

.caption {
  --pixels: 12;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0 1em;
}

a {
  --pixels: 18;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: normal;
  line-height: 0.9;
  margin: 0 0 0.2em;
  color: var(--color-reverse);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-green);
}

button,
.button {
  background-color: var(--color-orange);
  color: var(--color-reverse);
  cursor: pointer;
  height: var(--field-height);
  padding: 0 var(--space-l);
  border-radius: var(--border-radius-l);
  border: none;
  --pixels: 18;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: normal;
  font-family: inherit;
}

.button-primary {
  background-color: var(--color-green);
  color: var(--color-reverse);
}

.button-secondary {
  background-color: var(--color-reverse);
  color: var(--color-orange);
}

.button-tertiary {
  border: 1px solid var(--color-reverse);
}

input {
  border-radius: var(--border-radius-l);
  height: var(--field-height);
  padding: 0 var(--space-l);
  border: none;
  background-color: var(--color-reverse);
  --pixels: 18;
  --pixels-to-vw: calc(var(--pixels) / 1440 * 1vw);
  font-size: max(calc(var(--pixels) * 1px), var(--pixels-to-vw));
  font-weight: normal;
  font-family: inherit;
}

@media screen and (max-width: 768px) {
  :root {
    --page-margin: 20px;
    --field-height: 60px;
    --header-height: 80px;

    --space-s: 10px;
    --space-m: 15px;
    --space-l: 20px;
  }
  .content {
    flex-direction: column;
  }
  
  h1, .heading1 {
    --pixels: 64;
  }
  
  h2, .heading2 {
    --pixels: 48;
  }
  
  h3, .heading3 {
    --pixels: 38;
  }
  
  h4, .heading4 {
    --pixels: 30;
  }
  
  h5, .heading5 {
    --pixels: 22;
  }
  input {
    height: 60px;
    --pixels: 16;
  }
  
}
